@import url(https://fonts.googleapis.com/css2?family=Montserrat);
body {
	font-family: 'Montserrat', sans-serif;
	margin: 5px;
	padding: 5px;
}
/*шапка сайта*/
header {
	/*стиль блока*/
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	background: url(../images/moscow.jpg) center no-repeat;
	background-size: cover;
	border-radius: 10px;
}

header h1 {
	/*стиль текста*/
	color: white;
	font-size: 3em;
	text-shadow: -2px -2px 0 #717F47, 2px -2px 0 #717F47, -2px 2px 0 #717F47, 2px 2px 0 #717F47;
}
/*подвал*/
footer {
	/*стиль блока*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 150px;
	background: url(../images/moscow.jpg) bottom no-repeat;
	background-size: cover;
	border-radius: 10px;
}

footer img {
	width: 50px;
	padding: 5px;
}

footer .copyright {
	font-size: 1.1em;
	color: white;
	text-shadow: -1px -1px 0 #717F47, 1px -1px 0 #717F47, -1px 1px 0 #717F47, 1px 1px 0 #717F47;
}